body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.list-item {
    border: 2px solid royalblue;
    margin-top: 2px;
    position: relative;
}

.list-item img {
    max-width: 150px;
}